################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/code/.vs/FishTars/v15/ipch/AutoPCH/5059987484dc8e20/MAIN.ipch
/code/.vs/FishTars/v15/Browse.VC.db
*.suo
/code/.vs/FishTars/v15/Browse.VC.opendb
/code/FishTars/obj/ARM/Debug/FishTars.tlog
/code/FishTars/obj/x64/Debug
/code/FishTars/FishTars.vcxproj.user
*.ipch
*.out
/code/FishTars/bin/x64/Debug
