################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/code/.vs/FishTars/v15/ipch/AutoPCH/5059987484dc8e20/MAIN.ipch
